<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

    # Use PHP 5.4
    AddType application/x-httpd-php54 .php

	RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>